* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color-1: #222;
    --primary-color-2: #f2994a;
    --primary-color-3: #2f80ed;
    --primary-color-4: #eb5757;
    --primary-color-black: #000;
    --primary-color-white: #fff;
}

html {
    font-size: 62.5%;
}

/* header */
.header {
    position: fixed;
    height: 7.2rem;
    width: 100%;
    background-color: var(--primary-color-white);
    box-shadow: 0 .4rem 2rem 0 rgba(0, 0, 0, .25);
}

/* section */
.section {
    height: 100vh;
}

.section__2, .section__4, .section__6 {
    display: flex;
}

.section__img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

/* section 2 */
.section__2--item {
    width: 50%;
}

.section__2--item:nth-child(1) {
    background-color: var(--primary-color-1);
}

.section__2--item:nth-child(2) {
    background-color: var(--primary-color-2);
}

/* section 4 */
.section__4--item {
    width: calc(100% / 3);
}

.section__4--item:nth-child(1) {
    background-color: var(--primary-color-2);
}

.section__4--item:nth-child(2) {
    background-color: var(--primary-color-1);
}

.section__4--item:nth-child(3) {
    background-color: var(--primary-color-3);
}

/* section 6 */
.section__6 {
    flex-wrap: wrap;
}

.section__6--item {
    height: 50%;
    width: 50%;
}

.section__6--item:nth-child(1) {
    background-color: var(--primary-color-1);
}

.section__6--item:nth-child(2) {
    background-color: var(--primary-color-3);
}

.section__6--item:nth-child(3) {
    background-color: var(--primary-color-2);
}

.section__6--item:nth-child(4) {
    background-color: var(--primary-color-4);
}